{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/custom/pages.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Uni-Plus System</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" id="contain">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <h1>Registration Page</h1>
                <h4>Use The Form Below To Register </h4>
                <br>
                <br>
                <div class="panel-body">
                    <form method="post" action="{% url 'register' %}" class="form-horizontal">
                        {% csrf_token %}
                        {% if form.errors %}
                            <p> There are errors in the form</p>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full Name: </label>
                            <div class="col-sm-9">
                                {{ form.fullname }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email: </label>
                            <div class="col-sm-9">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Registration Number: </label>
                            <div class="col-sm-9">
                                {{ form.student_no }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone Number: </label>
                            <div class="col-sm-9">
                                {{ form.phone_no }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">GENDER </label>
                            <div class="col-sm-9">
                                {{ form.gender }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">New Password: </label>
                            <div class="col-sm-9">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Re-Enter Password: </label>
                            <div class="col-sm-9">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <input name="user{{ request.user }}" type="hidden" value="{{ request.user }}">
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary btn-lg btn-block ">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>