{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/custom/staff.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Uni-Plus System</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                {#                <li>#}
                {#                    <a href="{% url 'welcome' %}"><span class="glyphicon glyphicon-home"></span> Home </a></a>#}
                {#                </li>#}
                <li>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">HELP
                    </button>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
                        Welcome {{ user.fullname }} <b class="caret"> </b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'staff_password' %}"><span class="glyphicon glyphicon-edit"
                                                                       aria-hidden="true"></span>&nbsp; Change
                            Password
                        </a></li>
                        <li><a href="{% url 'staff_logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Faculty Missing Marks Report</h4>
            </div>
            <div class="modal-body">
                <p>i. On the left are links to various missing marks reports.</p>
                <p>ii. The reports are divided into various academic years..</p>
                <p>iii. The reports show the number of missing marks per department in the specified academic year</p>
                <p>iv. Use the <b>Download </b> link to download the report in <b>PDF </b>format for the chosen
                    academic year.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="col-md-3 ">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>AVAILABLE REPORTS </h2>
                <br>
                <br>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{% url 'dean' %}">HOME</a></li>
                    <li><a href="{% url 'fpdf1' %}">2017/2018</a></li>
                    <li><a href="{% url 'fpdf2' %}">2016/2017</a></li>
                    <li><a href="{% url 'fpdf3' %}">2015/2016</a></li>
                    <li><a href="{% url 'fpdf4' %}">2014/2015</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <h1> {{ request.user.staffprofile.faculty }}</h1>
            <h3>PLEASE USE THE LINKS ON THE LEFT TO <br> VIEW DIFFERENT REPORTS.</h3>
            <br>
            <br>
{#            <table class="table table-bordered">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th class="text-center">Department</th>#}
{#                    <th class="text-center">Number Of Missing Marks</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for dep, value in dep_list.items %}#}
{#                    <td>{{ dep }}</td>#}
{#                    <td>{{ value }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#            <br>#}
{#            <br>#}
{#            <table class="table table-bordered">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th class="text-center">Academic Year</th>#}
{#                    <th class="text-center">Number Of Missing Marks</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for dep, value in academic_year.items %}#}
{#                    <td>{{ dep }}</td>#}
{#                    <td>{{ value }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#            <br>#}
{#            <br>#}
{#            <a href="{% url 'fpdf' %}">Download</a>#}
        </div>
    </div>
</div>
</body>
</html>