{%  extends "mess/base.html" %}
{% block content %}
                <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Student Name</th>
                    <th class="text-center">Registration Number</th>
                    <th class="text-center">Unit Code</th>
                    <th class="text-center">Taught By</th>
                    <th class="text-center">Year Done</th>
                    <th class="text-center">Semester Done</th>
                    <th class="text-center">Comment</th>
                    <th class="text-center">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for resit in resit_list %}
                    <td>{{ resit.student_no.fullname }}</td>
                    <td>{{ resit.student_no.student_no }}</td>
                    <td>{{ resit.unit.unit_code }}</td>
                    <td>{{ resit.taught_by }}</td>
                    <td>{{ resit.year }}</td>
                    <td>{{ resit.semester }}</td>
                    <td>{{ resit.comment }}</td>
                    <td>
                        <a href="{% url 'resit_edit' resit.pk %}">
                            <button class="btn btn-block btn-primary glyphicon glyphicon-edit"> Edit</button>
                        </a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}