{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Staff Member</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/custom/staff.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Uni-Plus System</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the modal with a button -->
                <li>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">HELP
                    </button>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
                        Welcome {{ user.fullname }} <b class="caret"> </b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'staff_password' %}"><span class="glyphicon glyphicon-edit"
                                                                       aria-hidden="true"></span>&nbsp; Change
                            Password
                        </a></li>
                        <li><a href="{% url 'staff_logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Staff Member</h4>
            </div>
            <div class="modal-body">
                <p>In this page you are expected to do the following:</p>
                <p>i. Enter the full name of the new staff member using the <b>FULL NAME</b> field.</p>
                <p>ii. Enter the Staff ID of the new staff member using the <b>STAFF NUMBER</b> field.</p>
                <p>iii. Enter the email address of the new staff member using the <b>EMAIL</b> field.</p>
                <p>iv. Select the faculty of the new staff member using the <b>FACULTY</b> drop down field.</p>
                <p>v. Select the department of the new staff member using the <b>DEPARTMENT</b> drop down field.</p>
                <p>vi. Select the department of the new staff member using the <b>DEPARTMENT</b> drop down field.</p>
                <p>vii. Enter the phone number of the new staff member using the <b>PHONE NUMBER</b> field.</p>
                <p>viii. Select the gender of the new staff member using the <b>GENDER</b> dropdown field</p>
                <p>ix. Select the role of the new staff member using the <b>ROLE</b> dropdown field</p>
                <p>x. Use the <b>ENTER PASSWORD</b> and <b>CONFIRM PASSWORD</b> fields to enter and confirm the new
                    user's password.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="col-md-3 ">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>QUICK LINKS</h2>
                <br>
                <br>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'registrar_home' %}">HOME</a></li>
                    <li class="active"><a href="{% url 'registrar' %}">Add User</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <h1> ADD NEW USER</h1>
            <br>
            <br>
            <div class="panel-body">
                <form method="post" class="form-horizontal" action="{% url 'registrar' %}" id="add_form"
                      data-departments-url="{% url 'ajax_load_departments' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-2">FULL NAME: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.fullname }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">STAFF NUMBER: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.staff_no }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">EMAIL: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">FACULTY: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.faculty }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">DEPARTMENT: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.department }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">PHONE NUMBER: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.phone_no }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">GENDER: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.gender }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">ROLE: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.role }}
                        </div>
                    </div>
                    <p>DEFAULT PASSWORD: Egerton@536 </p>
                    <div class="form-group">
                        <label class="col-md-2">ENTER PASSWORD: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.password1 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">CONFIRM PASSWORD: </label>
                        <div class="col-md-10" align="left">
                            {{ staff_form.password2 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#id_faculty").change(function () {
        var url = $("#add_form").attr("data-departments-url");  // get the url of the `load_cities` view
        var facultyId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'faculty': facultyId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_department").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>
</body>
</html>