{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/custom/pages.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Uni-Plus System</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the modal with a button -->
                <li>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">HELP
                    </button>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register Page </h4>
            </div>
            <div class="modal-body">
                <p>In this page you are expected to do the following:</p>
                <p>i. Enter your full name using the <b>FULL NAME</b> field.</p>
                <p>ii. Enter your REGISTRATION NUMBER using the <b>REGISTRATION NUMBER</b> field.</p>
                <p>iii. Enter your EMAIL ADDRESS using the <b>EMAIL</b> field.</p>
                <p>iv. Select your FACULTY using the <b>FACULTY</b> drop down field.</p>
                <p>v. Select your DEPARTMENT using the <b>DEPARTMENT</b> drop down field.</p>
                <p>vi. Enter your PHONE NUMBER using the <b>PHONE NUMBER</b> field.</p>
                <p>vii. Select your using the <b>GENDER</b> drop down field</p>
                <p>viii. Use the <b>ENTER PASSWORD</b> and <b>CONFIRM PASSWORD</b> fields to enter and confirm your password.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid" id="contain">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <h1>Registration Page</h1>
                <h4>Use The Form Below To Register </h4>
                <br>
                <br>
                <div class="panel-body">
                    <form method="post" action="{% url 'register' %}" class="form-horizontal" id="register_form"
                          data-departments-url="{% url 'ajax_load_departments' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <p> There are errors in the form</p>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full Name: </label>
                            <div class="col-sm-9">
                                {{ form.fullname }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email: </label>
                            <div class="col-sm-9">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Registration Number: </label>
                            <div class="col-sm-9">
                                {{ form.student_no }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Faculty: </label>
                            <div class="col-sm-9">
                                {{ form.faculty }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Department: </label>
                            <div class="col-sm-9">
                                {{ form.department }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone Number: </label>
                            <div class="col-sm-9">
                                {{ form.phone_no }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">GENDER </label>
                            <div class="col-sm-9">
                                {{ form.gender }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">New Password: </label>
                            <div class="col-sm-9">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Re-Enter Password: </label>
                            <div class="col-sm-9">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <input name="user{{ request.user }}" type="hidden" value="{{ request.user }}">
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary btn-lg btn-block ">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#id_faculty").change(function () {
        var url = $("#register_form").attr("data-departments-url");  // get the url of the `load_cities` view
        var facultyId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'faculty': facultyId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_department").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>
</body>
</html>