{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/custom/pages.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Uni-Plus System</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the modal with a button -->
                <li>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">HELP
                    </button>
                </li>
                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> Home </a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
                        Welcome {{ user.fullname }} <b class="caret"> </b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'change_password' %}"><span class="glyphicon glyphicon-edit"
                                                                        aria-hidden="true"></span>&nbsp; Change
                            Password
                        </a></li>
                        <li><a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register Missing Marks Instructions</h4>
            </div>
            <div class="modal-body">
                <p>In this page you are expected to do the following:</p>
                <p>1. Use the <b>Faculty Offered</b> field to select the faculty where the unit is offered.</p>
                <p>2. Use the <b>Department Offered</b> field to select the department where the unit is offered.</p>
                <p>3. Use the <b>Unit Code</b> field to select the unit to register for a missing mark.</p>
                <p>4. Use the <b>Taught By</b> field to select the lecturer who taught the unit.</p>
                <p>5. Use the <b>Academic Year</b> field to select the academic year when you did the unit.</p>
                <p>6. Use the <b>Year Of Study</b> field to select your year of study when you did the unit.</p>
                <p>7. Use the <b>Semester Done</b> field to select the semester you did the unit.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="col-md-3 ">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>QUICK LINKS</h2>
                <br>
                <br>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{% url 'index' %}">Register Missing Marks</a></li>
                    <li><a href="{% url 'current' %}">Current Missing Marks</a></li>
                    <li><a href="{% url 'pending' %}">Pending Missing Marks</a></li>
                    <li><a href="{% url 'previous' %}">Previous Missing Marks</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <h1> Welcome {{ user.fullname }}</h1>
            <h2> Register Missing Mark.</h2>
            <br>
            <div class="panel-body">
                <form method="post" action="{% url 'index' %}" class="form-horizontal" id="missingform"
                      data-departments-url="{% url 'ajax_load_departments' %}"
                      data-lecs-url="{% url 'ajax_load_lecs' %}" data-units-url="{% url 'ajax_load_units' %}"
                      data-miss-url="{% url 'validate_missing_marks' %}">
                    {% csrf_token %}
{#                    {% if form.has_error %}#}
{#                            <p> There are errors in the form</p>#}
{#                        {% endif %}#}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Faculty Offered: </label>
                        <div class="col-sm-9">
                            {{ form.faculty }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Department Offered: </label>
                        <div class="col-sm-9">
                            {{ form.department }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Unit Code: </label>
                        <div class="col-sm-9">
                            {{ form.unit }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Taught By: </label>
                        <div class="col-sm-9">
                            {{ form.taught_by }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Academic Year: </label>
                        <div class="col-sm-9">
                            {{ form.academic_year }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Year Of Study: </label>
                        <div class="col-sm-9">
                            {{ form.year }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Semester Of Study: </label>
                        <div class="col-sm-9">
                            {{ form.semester }}
                        </div>
                    </div>
                    <input name="student_no" type="hidden" value="{{ request.user.studentprofile }}">
                    <input type="hidden" name="seen_status" value="{{ 0 }}">
                    <input type="hidden" name="mm_status" value="{{ 0 }}">
                    <button class="btn btn-primary" type="submit">Register Missing mark</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#id_faculty").change(function () {
        var url = $("#missingform").attr("data-departments-url");  // get the url of the `load_departments` view
        var facultyId = $(this).val();  // get the selected faculty ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/app/ajax/load-departments/)
            data: {
                'faculty': facultyId       // add the faculty id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_` view function
                $("#id_department").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>
<script>
    $("#id_department").change(function () {
        var url = $("#missingform").attr("data-lecs-url");  // get the url of the `load_lecs` view
        var departmentId = $(this).val();  // get the selected department ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/app/ajax/load-lecs/)
            data: {
                'department': departmentId       // add the department id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_lecs` view function
                $("#id_taught_by").html(data);  // replace the contents of the lecs input with the data that came from the server
            }
        });

    });
</script>
<script>
    $("#id_department").change(function () {
        var url = $("#missingform").attr("data-units-url");  // get the url of the `load_units` view
        var departmentId = $(this).val();  // get the selected department ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/app/ajax/load-units/)
            data: {
                'department': departmentId       // add the department id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_units` view function
                $("#id_unit").html(data);  // replace the contents of the unit input with the data that came from the server
            }
        });

    });
</script>
<script>
    $("#id_unit").change(function () {
        var url = $("#missingform").attr("data-miss-url");
        var unit = $(this).val();
        var form = $(this).closest("#missingform");

        $.ajax({
            url: url,
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    alert(data.error_message);
                }
            }
        });

    });
</script>
</body>
</html>