{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/custom/pages.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Uni-Plus System</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the modal with a button -->
                <li>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">HELP
                    </button>
                </li>
                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> Home </a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
                        Welcome {{ user.fullname }} <b class="caret"> </b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'change_password' %}"><span class="glyphicon glyphicon-edit"
                                                                        aria-hidden="true"></span>&nbsp; Change
                            Password
                        </a></li>
                        <li><a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pending Missing Marks</h4>
            </div>
            <div class="modal-body">
                <p>This page shows the missing marks you have registered but have been sorted by the examinations
                    officer
                    but you did not complete the course. Possible Reasons are:</p>
                <p><b>i. You did not do a cat.</b></p>
                <p><b>ii. You did not do the exam.</b></p>
                <p><b>iii. You did a special exam.</b></p>
                <p><b>N.B. </b>Read the examination officers comment.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="col-md-3 ">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>QUICK LINKS</h2>
                <br>
                <br>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{% url 'index' %}">Register Missing Marks</a></li>
                    <li><a href="{% url 'current' %}">Current Missing Marks</a></li>
                    <li class="active"><a href="{% url 'pending' %}">Pending Missing Marks</a></li>
                    <li><a href="{% url 'previous' %}">Previous Missing Marks</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <h1> Welcome {{ user.fullname }}</h1>
            <h3> Please use the links to your left to navigate.</h3>
            <br>
            <h2> Pending Missing Marks</h2>
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Unit Code</th>
                    <th class="text-center">Unit Description</th>
                    <th class="text-center">Comment</th>
                    <th class="text-center">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for resit in resit_list %}
                    <tr>
                        <td>{{ resit.unit.unit_code }}</td>
                        <td>{{ resit.unit.unit_description }}</td>
                        <td>{{ resit.comment }}</td>
                        <td>
                            <button class="btn btn-block btn-danger glyphicon glyphicon-alert"> In-Progress</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>