@charset "utf-8";
/* CSS Document */

.panel {
    border: 30px;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    position: relative;
    transition: 1s;
    padding-bottom: 70px;
}

body {
    background: #8C8C8C;
}

h2 {
    color: black
}
#789{

}