﻿@charset "utf-8";
/* CSS Document */

.panel{
	border: 30px;
	background: #575454;
	color: #ffff;
	text-align: center;
	padding-top: 50px;
	position: relative;
	transition: 1s;
	padding-bottom: 70px;
}
#contain{
	margin-top: 0;
	background: #1EF5F2;
}
body{
	background: #8C8C8C;
}
#ONE{
	border: 30px;
	background: #fff;
	color: #ffff;
	text-align: center;
	padding-top: 50px;
	position: relative;
	transition: 1s;
	padding-bottom: 70px;
}
h2{
	color: black
}