@charset "utf-8";
/* CSS Document */
.navbar-default {
    background: #77ec53;
    border-color: black;
}

 .navbar-default .navbar-brand {
     color: red;
}

 .navbar-default,
.navbar-brand:hover,
.navbar-default,
.navbar-brand:focus {
     color: #070607;
}

 .navbar-default .navbar-text {
     color: #020202;
}

 .navbar-default .navbar-nav > li > a {
     color: #020202;
}

 .navbar-default .navbar-nav > li > a:hover,  .navbar-default .navbar-nav > li > a:focus {
     color: #070607;
}

 .navbar-default .navbar-nav > li > .dropdown-menu {
     background-color: #77ec53;
}

 .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #020202;
}

 .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
     color: #070607;
     background-color: #df300a;
}

 .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
     background-color: #df300a;
}

 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
     color: #070607;
     background-color: #df300a;
}

 .navbar-default .navbar-nav > .active > a,  .navbar-default .navbar-nav > .active > a:hover,  .navbar-default .navbar-nav > .active > a:focus {
     color: #070607;
     background-color: #df300a;
}

 .navbar-default .navbar-nav > .open > a,  .navbar-default .navbar-nav > .open > a:hover,  .navbar-default .navbar-nav > .open > a:focus {
     color: #070607;
     background-color: #df300a;
}

 .navbar-default .navbar-toggle {
     border-color: #df300a;
}

 .navbar-default .navbar-toggle:hover,  .navbar-default .navbar-toggle:focus {
     background-color: #df300a;
}

 .navbar-default .navbar-toggle .icon-bar {
     background-color: #020202;
}

 .navbar-default .navbar-collapse,  .navbar-default .navbar-form {
     border-color: #020202;
}

 .navbar-default .navbar-link {
     color: #020202;
}

 .navbar-default .navbar-link:hover {
     color: #070607;
}

  

@media (max-width: 767px) {
      .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #020202;
    }

      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
         color: #070607;
    }

      .navbar-default .navbar-nav .open .dropdown-menu > .active > a,   .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,   .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #070607;
         background-color: #df300a;
    }

     
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.panel {
    border: 30px;
    background-color: #fff;
    text-align: center;
    padding-top: 50px;
    position: relative;
    transition: 1s;
    padding-bottom: 70px;
}

body {
    background-color: #8C8C8C;
}

h2 {
    color: black
}