{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/custom/staff.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Uni-Plus System</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the modal with a button -->
                <li>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">HELP
                    </button>
                </li>
                <li>
                    <a href="{% url 'welcome' %}"><span class="glyphicon glyphicon-home"></span> Home </a></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
                        Welcome {{ user.fullname }} <b class="caret"> </b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'staff_password' %}"><span class="glyphicon glyphicon-edit"
                                                                       aria-hidden="true"></span>&nbsp; Change
                            Password
                        </a></li>
                        <li><a href="{% url 'staff_logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sort Missing Marks</h4>
            </div>
            <div class="modal-body">
                <p>This page shows the student number and the unit they registered a missing mark for. Instructions are as follows:</p>
                <p>i. Use the <b>Mark Missing Mark As Sorted</b> field to show the missing mark has been sorted and
                    student's marks have been updated.</p>
                <p>ii. Use the <b>Mark Missing Mark As Seen But Not Sorted</b> field to show that you have seen the
                    missing mark but it cannot be sorted due to factors such as missing exam and cat marks.</p>
                <p>iii. Use the <b>Comment</b> field to add any comment regarding the missing mark.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <h1> Welcome {{ user.fullname }}</h1>
            <h2> Sort Missing Mark</h2>
            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-3 control-label">Student: </label>
                        <div class="col-md-9" align="left">
                            {{ form.student_no }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Unit: </label>
                        <div class="col-md-9" align="left">
                            {{ form.unit }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mark Missing Mark<br> As Sorted: </label>
                        <div class="col-md-9" align="left">
                            {{ form.mm_status }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mark Missing Mark As<br> Seen But Not Sorted: </label>
                        <div class="col-md-9" align="left">
                            {{ form.seen_status }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Comment: </label>
                        <div class="col-md-9" align="left">
                            {{ form.comment }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>