{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Departmental Report</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-offset-3 col-md-8">
        <div class="panel panel-default">
            <h1 align="center" style="color: #2b669a"> DEPARTMENT MISSING MARKS</h1>
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Unit Code</th>
                    <th class="text-center">Number Of Missing Marks</th>
                </tr>
                </thead>
                <tbody>
                {% for item, value in queryset.items %}
                    <td class="text-center" align="center">{{ item }}</td>
                    <td class="text-center" align="center">{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>