<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Faculty Report</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-offset-3 col-md-8">
        <div class="panel panel-default">
            <h1 align="center" style="color: #2b669a"> FACULTY MISSING MARKS</h1>
            <br>
            <br>
           <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Department</th>
                    <th class="text-center">Number Of Missing Marks</th>
                </tr>
                </thead>
                <tbody>
                {% for dep, value in dep_list.items %}
                    <td align="center">{{ dep }}</td>
                    <td align="center">{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
{#            <table class="table table-bordered">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th class="text-center">Academic Year</th>#}
{#                    <th class="text-center">Number Of Missing Marks</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for dep, value in academic_year.items %}#}
{#                    <td align="center">{{ dep }}</td>#}
{#                    <td align="center">{{ value }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}

        </div>
    </div>
</div>
</body>
</html>